In [8]:
# List is a collection which is ordered and changeable. Allows duplicate members.
names_list = ["kemal","dini","jana","vini","Jak","hash","tish"]

# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
fruits_tuple = ("apple", "banana", "cherry", "orange", "grape")

# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
vegetables_set = {"carrot", "spinach", "broccoli", "tomato", "cucumber"}

# Dictionary is a collection which is ordered** and changeable. No duplicate members.
vehicles_dictionary = [
    {"make": "Toyota", "model": "Camry", "year": 2022},
    {"make": "Honda", "model": "Civic", "year": 2021},
    {"make": "Ford", "model": "F-150", "year": 2023},
    {"make": "Chevrolet", "model": "Equinox", "year": 2020}
]

type(names_list)

list

In [9]:
type(fruits_tuple)

tuple

In [10]:
type(vegetables_set)

set

In [11]:
type(vehicles_dictionary)

list

# Indexing Tuple

In [12]:
music_tuple = ("disco",10,1.2)

In [13]:
print(music_tuple)

('disco', 10, 1.2)

In [15]:
print(type(music_tuple[0]))
print(type(music_tuple[1]))
print(type(music_tuple[2]))

<class 'str'>
<class 'int'>
<class 'float'>

# Concatenate Tuples

In [20]:
new_music_tuple = music_tuple + ("hard rock", 10)
new_music_tuple

('disco', 10, 1.2, 'hard rock', 10)

In [19]:
print(new_music_tuple)

('disco', 10, 1.2, 'hard rock', 10)

# Slicing Tuples

In [22]:
new_music_tuple[0:4]

('disco', 10, 1.2, 'hard rock')

In [24]:
len(new_music_tuple[0:4])

4

In [25]:
new_music_tuple[1:3]

(10, 1.2)

# Sorting Tuples

In [26]:
sort_new_music_tuple = sorted(new_music_tuple)

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
num_tuple = (1,5,6,7,8,9,4,5,2,5,8,6,11,225,0,3)

In [28]:
num_tuple

(1, 5, 6, 7, 8, 9, 4, 5, 2, 5, 8, 6, 11, 225, 0, 3)

In [31]:
sort_num_tuple = sorted(num_tuple)
print(sort_num_tuple)

[0, 1, 2, 3, 4, 5, 5, 5, 6, 6, 7, 8, 8, 9, 11, 225]

# Nested Tuple

In [33]:
nested_tuple =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print(nested_tuple)

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [34]:
print("Element 0 of Tuple: ", nested_tuple[0])
print("Element 1 of Tuple: ", nested_tuple[1])
print("Element 2 of Tuple: ", nested_tuple[2])
print("Element 3 of Tuple: ", nested_tuple[3])
print("Element 4 of Tuple: ", nested_tuple[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [35]:
print("Element 2, 0 of Tuple: ",   nested_tuple[2][0])
print("Element 2, 1 of Tuple: ",   nested_tuple[2][1])
print("Element 3, 0 of Tuple: ",   nested_tuple[3][0])
print("Element 3, 1 of Tuple: ",   nested_tuple[3][1])
print("Element 4, 0 of Tuple: ",   nested_tuple[4][0])
print("Element 4, 1 of Tuple: ",   nested_tuple[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [37]:
nested_tuple[2][1][0]

'r'

In [38]:
nested_tuple[2][1][1]

'o'

In [42]:
nested_tuple.index(2)

1

# List Operations

In [43]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]

In [44]:
L[3:5]

['MJ', 1]

In [49]:
L.extend(['pop', 10])
L

['Michael Jackson',
 10.1,
 1982,
 'MJ',
 1,
 'pop',
 10,
 ['Dis', 20],
 ['Dis', 20],
 ['Dis', 20],
 'pop',
 10]

In [48]:
L.append(['Dis', 20])
L

['Michael Jackson',
 10.1,
 1982,
 'MJ',
 1,
 'pop',
 10,
 ['Dis', 20],
 ['Dis', 20],
 ['Dis', 20]]

In [50]:
# Copy and Clone List

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]